<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/login.css" rel="stylesheet">

    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}: {{ form.username() }}
            {% if form.username.errors %}
            <ul>
                {% for error in form.username.errors %}
                <li class="error">{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div>
            {{ form.password.label }}: {{ form.password() }}
            {% if form.password.errors %}
            <ul>
                {% for error in form.password.errors %}
                <li class="error">{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    <a href="{{ url_for('main.register') }}">Don't have an account? Register here</a>
</body>
</html>
